<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482921964331-vl1pd6bhrleo41pgnleg25453snokiul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482921964331-vl1pd6bhrleo41pgnleg25453snokiul</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDb7tMDwp0kcU_bx-5PNcCloerbvfmAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>482921964331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COBSCComp192p-056.DileeshaNayanajith-COBSCComp192-056</string>
	<key>PROJECT_ID</key>
	<string>cafe--nibm</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe--nibm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482921964331:ios:cefd50c2a92e6bf45edb6e</string>
</dict>
</plist>